@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Layout */
:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;
}

/* Colors */
:root {
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);

    --accent-blue: hsl(248, 32%, 49%);
    --neutral-dark-blue-shadow:hsla(249, 10%, 26% ,25%);
    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-red);
    background-image: url(./images/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    line-height: 44px;
}

.contaner {
    max-width: 1000px;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.left-section {
    color: white;
    padding: 32px;
    gap: 32px;
}



.try_free {
    width: 100%;
    background-color: var(--accent-blue);
    color: white;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    font-weight: 400;
    box-shadow: 0px 8px var(--neutral-dark-blue-shadow);
}

.bold_text{
    font-weight: 800;
}


.form {
    width: 100%;
    margin-top: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 8px var(--neutral-dark-blue-shadow);
}

.form input {
    width: 100%;
    padding: 16px 24px;
    margin: 8px 0;
    border: 1px solid var(--neutral-grayish-blue);
    border-radius: 4px;
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-green);
    color: white;
    border: none;
}

.form p {
    color: var(--neutral-grayish-blue);
    margin-top: 8px;
    font-size: 10px;
    text-align: center;
    padding: 0 8px;
}

.form p a {
    text-decoration: none;
    color: var(--primary-red);
}

.attribution {
    margin-top: 40px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}


@media (max-width: 645px) {
    body {
        height: auto;
    }

    .contaner {
        flex-direction: column;
        padding: 40px 0;
    }

    .section {
        width: 100%;
        text-align: center;
    }

    .left-section {
        padding: 0;
    }

    .left-section h1 {
        font-size: 24px;
        line-height: 26px;
    }

    .left-section p {
        font-size: 14px;
    }
    .try_free {
        font-size: 14px;
    }

    .right-section {
        width: 100%;
    }

    .form {
        padding: 16px
    }

    .attribution {
        display: none;
    }
}